
.board {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 512px;
    width: 512px;
    border: 2px solid black;
}

.box {
    position: absolute;
    height: 12.5%;
    width: 12.5%;
}

.white {
    background-color: beige;
}

.black {
    background-color: darkolivegreen;
}